.redonda {
	position: relative;
	top: 10px;
	left: 10%;
	background: #1490C8;
	width: 60px;
	height: 60px;
	border-radius: 100%;
}

.caja {
	width: 40px;
	height: 40px;
	margin: auto;
	top: 7px;
	position: relative;
}

.fila1 {
	clear: left;
	position: relative;
	margin: auto;
	width: 30px;
}

.fila2 {
	clear: left;	
	position: relative;
	margin: auto;
	width: 30px;
}

.fila3 {
	clear: left;
	position: relative;
	margin: auto;
	width: 30px;
}

.bola {
	float: left;
	margin: 1px;
	background: white;
	width: 8px;
	height: 8px;
	border-radius: 100%;
}

.letra {
	clear: left;
	color: white;
	font-size: 14px;
	font-family: arial;
	font-weight: bold;
	text-align: center;
}