body, html {
	height: 100%;
	margin: 0;
}
header {
	height: 140px;
	position: relative;
	top: 0px;
	width: 100%;
	background: #E2001A;
	box-shadow: inset 0px -5px 5px #87000f;
	text-align: center;
	z-index: 2;
}

#logo {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	z-index: 15;
	display: inline;
}

#prefooter {
	color: white;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	height: 50px;
	width: 100%;
	background: #87000f;
	position: relative;
}

#prefooter p {
	padding-top: 10px;
}

#footer {
	height: 330px;
	width: 100%;
	position: relative;
	background: #E2001A;
}
#content {
	width: 80%;
	margin: auto;
	text-align: justify;
	margin-top: 10px;
}

footer {
	position: relative;
	display: block;
	bottom: 0px;
	width: 100%;
	height: 380px;
}

#menu {
	display: inline;
	margin: auto;
	position: relative;
	width: 80%;
}

#submenu {
	margin: 0;
	padding-left: 0;
	display: none;
}


.item {
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	top: -10px;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	background: #ebebeb;
	float: left;
	list-style-type: none;
	width: 18%;
	box-shadow: -10px 0px 5px #87000f;
	color: black;
}

.subitem {
	position: relative;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	text-decoration: initial;
	background: #ebebeb;
	list-style-type: none;
	text-align: center;
	color: black;
}

.item:hover {
	color: red;
}

.subitem:hover {
	color: red;
}

#cv:hover > #submenu {
	display: inline;
}

nav {
	display:inline-block;
	width: 70%;
}

p {
	text-align: justify;
}

#prefooter > p {
	text-align: center;
}

ul > a {
	text-decoration: none;
}

#contentGaleria {
	width: 700px;
	height: 600px;
	margin: auto;
	margin-top: 40px;
	text-align: justify;
	background: black;
	position: relative;
}

#contentGaleria div {
	float: left;
}

#borde1{
	height: 500px;
	width: 100px;
	position: relative;
	background: url("../img/borde1.jpg") no-repeat;
}

#borde2{
	height: 500px;
	width: 100px;
	position: relative;
	background: url("../img/borde2.jpg");
}

#borde3{
	height: 100px;
	width: 100px;
	position: relative;
	background: url("../img/borde3.jpg");
}

#borde4{
	height: 100px;
	width: 100px;
	position: relative;
	background: url("../img/borde4.jpg");
}

#fotoGrande{
	height: 500px;
	position: relative;
	width: 500px;
	background: url("../img/pizza1.jpg");
}

#fotosAbajo{
	height: 100px;
	width: 500px;
	position: relative;
	margin: auto;
	background: black;
	overflow: hidden;
	left: 0px;
}
#backgroundJoc{
	background:gray;
	height: 100%;
	width: 100%;
	position: relative;
}

#imgApple{
	height: 80px;
	width: 80px;
	position: relative;
}
#imgRobot{
	width: 80px;
	height: 91px;
	position: relative;
	background: url("../img/img-androitor/robot.png");
}

#imgMircrosoft{
	height: 55px;
	width: 50px;
	position: relative;
	background: url("../img/img-androitor/w1.png");
}

#fotosAbajo > img {
	float: left;
	position: relative;
	opacity: 0.5;
}

#primeraMiniatura {
	opacity: 1;
}
